<?xml version="1.0" encoding="utf-8" ?>
<System>
  <LogCache enabled="false"/>
  <Heartbeat isalive="true"/>
  <BPM rate="60"/>
  <!--Spawn System-->
  <Synapse name="spawnmanager" enabled="false" beats="1"/> <!-- experimental synapse, use at own risk -->
  <Synapse name="entityspawnmutator" enabled="false" beats="30" options="EntityEnemy,EntityNPC"/> <!-- firing the neuron attempts to add the monitor, it will report instantly on spawns -->

  <!--Character Management-->
  <Synapse name="bagmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="buffmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="deadisdead" enabled="false" beats="15"/><!-- todo: not implemented -->
  <Synapse name="deathwatch" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="equipmentmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="positiontracker" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="questmonitor" enabled="false" beats="15"/><!-- todo: fix -->
  <Synapse name="toolbeltmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="pingkicker" enabled="false" beats="60"/><!-- todo: not implemented -->

  <!--Admin Functions-->
  <Synapse name="saveworld" enabled="false" beats="600"/>
  <Synapse name="trashcollector" enabled="false" beats="1250"/> <!-- not needed? -->
  <Synapse name="mapexplorer" enabled="false" beats="5"/>

  <!--Web App Integration-->
  <Synapse name="broadcastapi" enabled="false" beats="5"/><!-- todo: not implemented -->
  
  <!--Messaging Systems-->
  <Synapse name="motd" enabled="false" beats="20"/><!-- todo: not implemented -->
  
  <!--Logging-->
  
</System>
