<?xml version="1.0" encoding="utf-8" ?>
<System>
  <Heartbeat isalive="true" bpmrate="60"/>
  
  <!-- NOTES -->
  <!-- Synapse 'enable' and 'options' attribute allows for initial config to be passed to the synapse constructors. -->
  <!-- After first server boot you can reconfigure options via the bc-events command and persist to disk -->
  <!-- The 'config' attribute if preset points to the *.xml files in the Events folder -->
  <!-- The 'beats' attribute if preset indicates how many beats should pass for each execution of the Fire method -->

  <!-- Reactive Synapses -->
  <Synapse name="spawnmutator" enabled="false" options="EntityEnemy,EntityNPC,EntityItem" config="SpawnMutator"/>
  <Synapse name="deadisdead" enabled="false" options='{ "global": false }'/>
  <Synapse name="logcache" enabled="false"/>

  <!-- Heartbeat Synapses -->
  <Synapse name="fly_clip_tracker" enabled="false" beats="1"/> <!-- todo: partially implemented (reports to chat) -->
  <Synapse name="tracker" enabled="false" beats="15"/>
  <Synapse name="pingkicker" enabled="false" beats="5" options='{ "threshhold": 300, "count": 12 }'/>

  <!--
  <Synapse name="saveworld" enabled="false" beats="600"/>
  <Synapse name="motd" enabled="false" beats="20"/>
  -->

  <!-- todo: not implemented -->
  <Synapse name="spawnmanager" enabled="false" beats="1"/> <!-- experimental synapse, use at own risk -->
  <!--
  <Synapse name="deathwatch" enabled="false" beats="60"/>

  <Synapse name="savebackup" enabled="false" beats="21600"/>
  <Synapse name="entitymonitor" enabled="false" beats="4"/>

  <Synapse name="bagmonitor" enabled="false" beats="60"/>
  <Synapse name="equipmentmonitor" enabled="false" beats="60"/>
  <Synapse name="toolbeltmonitor" enabled="false" beats="60"/>

  <Synapse name="buffmonitor" enabled="false" beats="60"/>
  <Synapse name="questmonitor" enabled="false" beats="15"/>
  
  <Synapse name="mapexplorer" enabled="false" beats="5"/>
  <Synapse name="broadcastapi" enabled="false" beats="5"/>
  -->
</System>
