<?xml version="1.0" encoding="utf-8" ?>
<System>
  <LogCache enabled="false"/>
  <Heartbeat isalive="true"/>
  <BPM rate="60"/>
  <Synapse name="spawnmanager" enabled="false" beats="1"/> <!-- experimental synapse, use at own risk -->

  <!-- Non-Heartbeat Synapses -->
  <Synapse name="spawnmutator" enabled="true" options="EntityEnemy,EntityNPC,EntityItem" config="SpawnMutator"/>
  <Synapse name="deadisdead" enabled="true" options='{ "global": false }'/>

  <!-- Heartbeat Synapses -->
  <Synapse name="tracker" enabled="true" beats="15" config="TrackerPlayersConfig"/>
  <Synapse name="pingkicker" enabled="true" beats="5" options='{ "threshhold": 300, "count": 12 }'/>

  <!--
  <Synapse name="saveworld" enabled="false" beats="600"/>
  <Synapse name="motd" enabled="false" beats="20"/>
  -->

  <!-- todo: not implemented -->
  <!--
  <Synapse name="deathwatch" enabled="false" beats="60"/>

  <Synapse name="savebackup" enabled="false" beats="21600"/>
  <Synapse name="entitymonitor" enabled="false" beats="4"/>

  <Synapse name="bagmonitor" enabled="false" beats="60"/>
  <Synapse name="equipmentmonitor" enabled="false" beats="60"/>
  <Synapse name="toolbeltmonitor" enabled="false" beats="60"/>

  <Synapse name="buffmonitor" enabled="false" beats="60"/>
  <Synapse name="questmonitor" enabled="false" beats="15"/>
  
  <Synapse name="mapexplorer" enabled="false" beats="5"/>
  <Synapse name="broadcastapi" enabled="false" beats="5"/>
  -->
</System>
