<?xml version="1.0" encoding="utf-8" ?>
<System>
  <LogCache enabled="true"/>
  <Heartbeat isalive="true"/>
  <BPM rate="60"/>
  <!--Spawn System-->
  <Synapse name="spawnmanager" enabled="false" beats="1"/> <!-- todo: fix -->
  
  <!--Character Management-->
  <Synapse name="bagmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="buffmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="deadiddead" enabled="false" beats="15"/><!-- todo: not implemented -->
  <Synapse name="deathwatch" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="equipmentmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="positiontracker" enabled="false" beats="60"/><!-- todo: not implemented -->
  <Synapse name="questmonitor" enabled="false" beats="15"/><!-- todo: fix -->
  <Synapse name="toolbeltmonitor" enabled="false" beats="60"/><!-- todo: not implemented -->


  <!--Admin Functions-->
  <Synapse name="saveworld" enabled="true" beats="600"/>
  <Synapse name="trashcollector" enabled="true" beats="1200"/>

  <!--Web App Integration-->
  <Synapse name="broadcastapi" enabled="false" beats="5"/><!-- todo: not implemented -->
  
  <!--Messaging Systems-->
  <Synapse name="motd" enabled="false" beats="20"/><!-- todo: not implemented -->
  
  <!--Logging-->
  
</System>
